* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.box {
  width: 600px;
  height: 900px;
  background-color: #e1e6ec;
  box-shadow: 5px 5px 11px #e1e2e4, -5px -5px 11px rgb(180, 178, 178);
  margin-top: 2.5%;
  border-radius: 5%;
}

/* ICONS */

i {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
  background: #ededed;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  height: 80px;
  font-size: 35px;
  padding: 20px;
  text-align: center;
}
.fa-search {
  position: relative;
  bottom: 30%;
  left: 10%;
}
.fa-power-off {
  position: relative;
  left: 60%;
  bottom: 30%;
  color: red;
}
.box p {
  text-align: center;
  position: relative;
  top: 8%;
  font-size: 22px;
  font-weight: bolder;
}

/* IMG */
img {
  border-radius: 50%;
  height: 35%;
  width: 50%;
  position: relative;
  top: 15%;
  right: 5%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.8;
}

/* PROGRESS BAR */

.level {
  width: 80%;
  appearance: none;
  background-color: #98beec;
  box-shadow: 5px 5px 11px #a2b1c6, -5px -5px 11px #fff;
  border-radius: 25px;
  margin-bottom: 12px;
  position: relative;
  top: 50px;
  left: 50px;
}
.level::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #a2b1c6;
  box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
  width: 20px;
  height: 20px;
  border-radius: 25px;
}

/* Song title - artist */

.song {
  position: relative;
  top: 20%;
  margin-top: 15px;
}

.song-title {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 0;
  margin-bottom: -2.5%;
  color: black;
}

.artist-title {
  text-align: center;
  padding: 1em 0;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: darkgray;
}

.track {
  margin-top: 10px;
  height: 10px;
}

/* Buttons */

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em 0;
}
.btn {
  padding: 15px;
  border-radius: 30px;
  color: gray;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  border: none;
  margin-top: 25%;
}
.fa-play {
  color: cyan;
}
